body {
    background-image: url("./assets/images/neet.jpg");
}

.box {
    background: (rgba(255, 255, 255, .2));
    box-shadow: 0 5px 15px rgba(100, 10, 0, .5);
    flex: content;
    justify-content: center;
    text-align: center;
    padding: 0px 3px 0px 0px;
    color: aliceblue;
}
/* 

.box {
    background: (rgba(255, 255, 255, .2));
    box-shadow: 0 5px 15px rgba(100, 10, 0, .5);
    flex: content;
    justify-content: center;
    text-align: center;
    padding: 0px 3px 0px 0px;
    color: aliceblue;
} */
